# sec = secrets.token_hex(16)
SECRET_KEY  = '3cd2d047c7d6579da21bbabf362f165e' 
### Using sql-lite db for now else set to approprite production uri
SQLALCHEMY_DATABASE_URI  = 'sqlite:///test_site.db' 
## mail server @ GMAIL example 
MAIL_SERVER  = 'smtp.googlemail.com'
MAIL_PORT  = 587
MAIL_USE_TLS  = True
# username, password in environment variables  
MAIL_USERNAME  = os.environ.get('EMAIL_USER')
MAIL_PASSWORD  = os.environ.get('EMAIL_PASS')