{% extends 'app_layout.html' %}
{% block zlayout %} 
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-5 pb-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href=" {{url_for('main.home')}} ">Home</a></li>
            <li class="nav-item"><a  class="nav-link" href=" {{url_for('main.about')}} ">About</a></li>
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a  class="nav-link" href=" {{ url_for('users.view_user', page=1, uname=current_user.uname)}} "> My Posts </a></li>
                <li class="nav-item"><a class="nav-link" href=" {{url_for('posts.new_post')}} "> Create Post</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('users.account')}} ">[[ {{ current_user.uname }} Account ]]</a></li>
                <li class="nav-item"><a class="nav-link" href=" {{url_for('users.logout')}} ">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href=" {{url_for('users.register')}} ">Register</a></li>
            <li class="nav-item"><a class="nav-link" href=" {{url_for('users.login')}} ">Log in</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main class="container mt-5" role='main'>
    <div class="container"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for cat, msg in messages %}
                    <div class=" alert alert-{{cat}} ">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block pagecontent%}      {% endblock %}
    </div>
</main>
{% endblock zlayout%}